<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
		<editpolicyProvider class="com.itu.mdd.nowheretravel.diagram.custom.EditPolicyProvider">
		
			<Priority name="Medium">
			</Priority>
		
			<context editparts="com.itu.mdd.nowheretravel.model.nowheretravel.diagram.edit.parts.CarRentalEditPart">
			</context>
		
			<object class="com.itu.mdd.nowheretravel.model.nowheretravel.diagram.edit.parts.CarRentalEditPart"
					id="com.itu.mdd.nowheretravel.model.nowheretravel.diagram.edit.parts.CarRentalEditPart">
			</object>
		
		</editpolicyProvider>
	</extension>
</plugin>
