<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://itu.nowheretravel.schemes/t.ecore"
            class="com.itu.mdd.nowheretravel.model.nowheretravel.NowheretravelPackage"
            genModel="model/travel.genmodel"/>
   </extension>

</plugin>
